%link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/

.body
  .address-container
    %header.address-container__header
      %h1
        = link_to root_path do
          = image_tag("fmarket_logo_red.svg")
      %nav.address-container__header__nav
        %ol.address-container__header__nav__ol
          %li.active.complete
            会員情報
            .progress-status.middle
          %li.active.complete.midle-comp
            電話番号認証
            .progress-status
          %li.active.midle-comp
            お届け先住所入力
            .progress-status
          %li.deactive
            支払い方法
            .progress-status.middle
          %li.deactive
            完了
            .progress-status
    %main.address-container__main
      %section.address-container__main__container
        %h2 お届け先住所入力
        = form_tag "", url: "#", local: true, method: :get, class:"address-container__main__container__form" do
          .address-container__main__container__form__content
            .address-container__main__container__form__content__group
              = label_tag :postal_code, "郵便番号"
              %span.span="必須"
              = text_field_tag :postal_code, "", placeholder: "例) 123-4567", class: "input-default"
            .address-container__main__container__form__content__group
              = label_tag :prefecture, "地域"
              %span.span 必須
              .address-container__main__container__form__content__group__select
                %i.fas.fa-chevron-down
                %select.select-default.resigtration-field
            .address-container__main__container__form__content__group
              = label_tag :city, "市町村"
              %span.span 必須
              = text_field_tag :city, "", placeholder: "例) 横浜市緑区", class: "input-default"
            .address-container__main__container__form__content__group
              = label_tag :street, "番地"
              %span.span 必須
              = text_field_tag :street, "", placeholder: "例) 青山1-1-1", class: "input-default"
            .address-container__main__container__form__content__group
              = label_tag :building, "建物名"
              %span.span 任意
              = text_field_tag :building, "", placeholder: "例) 柳ビル103", class: "input-default"
            .address-container__main__container__form__content__submit
              = submit_tag "次へ進む", class:"btn-default btn-red"
.footer
  .single-footer
    .nav
      .ul
        .li
          %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
        .li
          %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
        .li
          %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    = link_to root_path do
      = image_tag("logo_gray.svg")
    %p
      © Fmarket, Inc.