.body
  .complete-container
  %header.complete-container__header
    %h1
      = link_to root_path, data: {"turbolinks": false} do
        = image_tag("fmarket_logo_red.svg")
    %nav.complete-container__header__nav
      %ol.complete-container__header__nav__ol
        %li.active.complete
          会員情報
          .progress-status.middle
        %li.active.complete.midle-comp
          電話番号認証
          .progress-status.middle
        %li.active.complete.midle-comp
          お届け先住所入力
          .progress-status
        %li.active.complete.midle-comp
          支払い方法
          .progress-status
        %li.last.midle-comp
          完了
          .progress-status
  %main.complete-container__main
    %section.complete-container__main__container
      %h2 会員登録完了
      = form_for @user, url: root_path, method: :get, data: {"turbolinks": false}, class: "complete-container__main__container__form" do |f|
        .complete-container__main__container__form__content
          %p
            ありがとうございます。
            %br
            会員登録が完了しました。
          .complete-container__main__container__form__content__submit
            = link_to root_path, class: "btn-default btn-red" do
              メルカリをはじめる

.footer
  .single-footer
    .nav
      .ul
        .li
          = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        .li
          = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        .li
          = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    = link_to root_path, data: {"turbolinks": false} do
      = image_tag("logo_gray.svg")
    %p
      ©&nbsp;Fmarket,&nbsp;Inc.