.body
  .payment-method-container
    %header.payment-method-container__header
      %h1
        = link_to root_path, data: {"turbolinks": false} do
          = image_tag("fmarket_logo_red.svg")
      %nav.payment-method-container__header__nav
        %ol.payment-method-container__header__nav__ol
          %li.active.complete
            会員情報
            .progress-status.middle
          %li.active.complete.midle-comp
            電話番号認証
            .progress-status.middle
          %li.active.complete.midle-comp
            お届け先住所入力
            .progress-status.middle
          %li.active.midle-comp
            支払い方法
            .progress-status.middle
          %li.deactive
            完了
            .progress-status
    %main.payment-method-container__main
      %section.payment-method-container__main__container
        %h2 支払い方法
        = form_for [@user,@address], url: signups_path, method: :post, class:"payment-method-container__main__container__form" do |f|
          .payment-method-container__main__container__form__content
            .payment-method-container__main__container__form__content__group
              = label_tag :card, "カード番号"
              %span.span 必須
              = text_field_tag :card, "", placeholder: "半角数字のみ", class: "input-default"
            .payment-method-container__main__container__form__content__group
              = label_tag :expiration_date, "有効期限"
              %span.span 必須
              .payment-method-container__main__container__form__content__group__select
                %i.fas.fa-chevron-down
                %select.select-default.resigtration-field
                  %option{value: ""} --
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                %span
                  年
              .payment-method-container__main__container__form__content__group__select
                %i.fas.fa-chevron-down
                %select.select-default.resigtration-field
                  %option{value: ""} --
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                %span
                  月
            .payment-method-container__main__container__form__content__group
              = label_tag :security_code, "セキュリティコード"
              %span.span 必須
              = text_field_tag :security_code, "", placeholder: "カード背面4桁もしくは3桁の番号", class: "input-default"
              %i.fas.fa-question-circle
              = link_to "カード裏面の番号とは？", "#"
            .payment-method-container__main__container__form__content__submit
              = f.submit "登録", class:"btn-default btn-red"
.footer
  .single-footer
    .nav
      .ul
        .li
          = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        .li
          = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        .li
          = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    = link_to root_path, data: {"turbolinks": false} do
      = image_tag("logo_gray.svg")
    %p
      ©&nbsp;Fmarket,&nbsp;Inc.