.identification
  .identification__top
    %h2.identification__top__text 本人情報の登録
  .identification__inner
    .identification__inner__text
      %p お客さまの本人情報をご登録ください。<br>登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      %p.identification__inner__right
        %a{href: "#", target: "_blank"}
          本人確認書類のアップロードについて
          %span
            = fa_icon 'chevron-right', class: "identification__inner__right__icon"
    .identification__inner__form
      %label お名前
      %span.identification__inner__form__require 必須
      %input.identification__inner__form__input{type: "text", name: "family_name_kanji", placeholder: "例）山田"}
      %input.identification__inner__form__input{type: "text", name: "first_name_kanji", placeholder: "例）彩"}
    .identification__inner__form
      %label お名前カナ
      %span.identification__inner__form__require 必須
      %input.identification__inner__form__input{type: "text", name: "family_name_kana", placeholder: "例）ヤマダ"}
      %input.identification__inner__form__input{type: "text", name: "", placeholder: "例）アヤ"}
    .identification__inner__form
      %label 生年月日
      %span.identification__inner__form__require 必須
      .identification__inner__form__birthday
      .identification__inner__form__select
        = fa_icon 'chevron-down', class: 'identification__inner__form__select__down'
        %select.identification__inner__form__select__default
          %option{:value => ""} --
          %option{:value => "2019"} 2019
          %option{:value => "2018"} 2018
          %option{:value => "2017"} 2017
          %option{:value => "2016"} 2016
          %option{:value => "2015"} 2015
          %option{:value => "2014"} 2014
          %option{:value => "2013"} 2013
          %option{:value => "2012"} 2012
          %option{:value => "2011"} 2011
          %option{:value => "2010"} 2010
          %option{:value => "2009"} 2009
          %option{:value => "2008"} 2008
          %option{:value => "2007"} 2007
          %option{:value => "2006"} 2006
          %option{:value => "2005"} 2005
          %option{:value => "2004"} 2004
          %option{:value => "2003"} 2003
          %option{:value => "2002"} 2002
          %option{:value => "2001"} 2001
          %option{:value => "2000"} 2000
          %option{:value => "1999"} 1999
          %option{:value => "1998"} 1998
          %option{:value => "1997"} 1997
          %option{:value => "1996"} 1996
          %option{:value => "1995"} 1995
          %option{:value => "1994"} 1994
          %option{:value => "1993"} 1993
          %option{:value => "1992"} 1992
          %option{:value => "1991"} 1991
          %option{:value => "1990"} 1990
          %option{:value => "1989"} 1989
          %option{:value => "1988"} 1988
          %option{:value => "1987"} 1987
          %option{:value => "1986"} 1986
          %option{:value => "1985"} 1985
          %option{:value => "1984"} 1984
          %option{:value => "1983"} 1983
          %option{:value => "1982"} 1982
          %option{:value => "1981"} 1981
          %option{:value => "1980"} 1980
          %option{:value => "1979"} 1979
          %option{:value => "1978"} 1978
          %option{:value => "1977"} 1977
          %option{:value => "1976"} 1976
          %option{:value => "1975"} 1975
          %option{:value => "1974"} 1974
          %option{:value => "1973"} 1973
          %option{:value => "1972"} 1972
          %option{:value => "1971"} 1971
          %option{:value => "1970"} 1970
          %option{:value => "1969"} 1969
          %option{:value => "1968"} 1968
          %option{:value => "1967"} 1967
          %option{:value => "1966"} 1966
          %option{:value => "1965"} 1965
          %option{:value => "1964"} 1964
          %option{:value => "1963"} 1963
          %option{:value => "1962"} 1962
          %option{:value => "1961"} 1961
          %option{:value => "1960"} 1960
          %option{:value => "1959"} 1959
          %option{:value => "1958"} 1958
          %option{:value => "1957"} 1957
          %option{:value => "1956"} 1956
          %option{:value => "1955"} 1955
          %option{:value => "1954"} 1954
          %option{:value => "1953"} 1953
          %option{:value => "1952"} 1952
          %option{:value => "1951"} 1951
          %option{:value => "1950"} 1950
          %option{:value => "1949"} 1949
          %option{:value => "1948"} 1948
          %option{:value => "1947"} 1947
          %option{:value => "1946"} 1946
          %option{:value => "1945"} 1945
          %option{:value => "1944"} 1944
          %option{:value => "1943"} 1943
          %option{:value => "1942"} 1942
          %option{:value => "1941"} 1941
          %option{:value => "1940"} 1940
          %option{:value => "1939"} 1939
          %option{:value => "1938"} 1938
          %option{:value => "1937"} 1937
          %option{:value => "1936"} 1936
          %option{:value => "1935"} 1935
          %option{:value => "1934"} 1934
          %option{:value => "1933"} 1933
          %option{:value => "1932"} 1932
          %option{:value => "1931"} 1931
          %option{:value => "1930"} 1930
          %option{:value => "1929"} 1929
          %option{:value => "1928"} 1928
          %option{:value => "1927"} 1927
          %option{:value => "1926"} 1926
          %option{:value => "1925"} 1925
          %option{:value => "1924"} 1924
          %option{:value => "1923"} 1923
          %option{:value => "1922"} 1922
          %option{:value => "1921"} 1921
          %option{:value => "1920"} 1920
          %option{:value => "1919"} 1919
          %option{:value => "1918"} 1918
          %option{:value => "1917"} 1917
          %option{:value => "1916"} 1916
          %option{:value => "1915"} 1915
          %option{:value => "1914"} 1914
          %option{:value => "1913"} 1913
          %option{:value => "1912"} 1912
          %option{:value => "1911"} 1911
          %option{:value => "1910"} 1910
          %option{:value => "1909"} 1909
          %option{:value => "1908"} 1908
          %option{:value => "1907"} 1907
          %option{:value => "1906"} 1906
          %option{:value => "1905"} 1905
          %option{:value => "1904"} 1904
          %option{:value => "1903"} 1903
          %option{:value => "1902"} 1902
          %option{:value => "1901"} 1901
          %option{:value => "1900"} 1900
      %span 年
      %br
      .identification__inner__form__select
        = fa_icon 'chevron-down', class: 'identification__inner__form__select__down'
        %select.identification__inner__form__select__default
          %option{:value => ""} --
          %option{:value => "1"} 1
          %option{:value => "2"} 2
          %option{:value => "3"} 3
          %option{:value => "4"} 4
          %option{:value => "5"} 5
          %option{:value => "6"} 6
          %option{:value => "7"} 7
          %option{:value => "8"} 8
          %option{:value => "9"} 9
          %option{:value => "10"} 10
          %option{:value => "11"} 11
          %option{:value => "12"} 12
      %span 月
      %br
      .identification__inner__form__select
        = fa_icon 'chevron-down', class: 'identification__inner__form__select__down'
        %select.identification__inner__form__select__default
          %option{:value => ""} --
          %option{:value => "1"} 1
          %option{:value => "2"} 2
          %option{:value => "3"} 3
          %option{:value => "4"} 4
          %option{:value => "5"} 5
          %option{:value => "6"} 6
          %option{:value => "7"} 7
          %option{:value => "8"} 8
          %option{:value => "9"} 9
          %option{:value => "10"} 10
          %option{:value => "11"} 11
          %option{:value => "12"} 12
          %option{:value => "13"} 13
          %option{:value => "14"} 14
          %option{:value => "15"} 15
          %option{:value => "16"} 16
          %option{:value => "17"} 17
          %option{:value => "18"} 18
          %option{:value => "19"} 19
          %option{:value => "20"} 20
          %option{:value => "21"} 21
          %option{:value => "22"} 22
          %option{:value => "23"} 23
          %option{:value => "24"} 24
          %option{:value => "25"} 25
          %option{:value => "26"} 26
          %option{:value => "27"} 27
          %option{:value => "28"} 28
          %option{:value => "29"} 29
          %option{:value => "30"} 30
          %option{:value => "31"} 31
      %span 日
      %p.identification__inner__form__select__text ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
    .identification__inner__form
      %label 郵便番号
      %span.identification__inner__form__arbitrary 任意
      %input.identification__inner__form__input{type: "text", name: "", placeholder: "例）1234567"}
    .identification__inner__form
      %label 都道府県
      %span.identification__inner__form__arbitrary 任意
      .identification__inner__form__select
        = fa_icon 'chevron-down', class: 'identification__inner__form__select__down--prefecture'
      %br
        %select.identification__inner__form__select__default
          %option --
          %option 北海道
          %option 青森県
          %option 岩手県
          %option 宮城県
          %option 秋田県
          %option 山形県
          %option 福島県
          %option 東京都
          %option 神奈川県
          %option 埼玉県
          %option 千葉県
          %option 茨城県
          %option 栃木県
          %option 群馬県
          %option 山梨県
          %option 新潟県
          %option 長野県
          %option 富山県
          %option 石川県
          %option 福井県
          %option 愛知県
          %option 岐阜県
          %option 静岡県
          %option 三重県
          %option 大阪府
          %option 兵庫県
          %option 京都府
          %option 滋賀県
          %option 奈良県
          %option 和歌山県
          %option 鳥取県
          %option 島根県
          %option 岡山県
          %option 広島県
          %option 山口県
          %option 徳島県
          %option 香川県
          %option 愛媛県
          %option 高知県
          %option 福岡県
          %option 佐賀県
          %option 長崎県
          %option 熊本県
          %option 大分県
          %option 宮崎県
          %option 鹿児島県
          %option 沖縄県
    .identification__inner__form
      %label 市区町村
      %span.identification__inner__form__arbitrary 任意
      %input.identification__inner__form__input{type: "text", name: "", placeholder: "例) 横浜市緑区"}
    .identification__inner__form
      %label 番地
      %span.identification__inner__form__arbitrary 任意
      %input.identification__inner__form__input{type: "text", name: "", placeholder: "例) 青山1−1−1"}
    .identification__inner__form
      %label 建物名
      %span.identification__inner__form__arbitrary 任意
      %input.identification__inner__form__input{type: "text", name: "", placeholder: "例) 柳ビル103"}
    %buttom{type: "submit", class: "identification__inner__btn-default"} 登録する
    .identification__inner__form.identification__inner__right
      %p
        = link_to "", target: "_blank" do
          本人情報の登録について