.container
  .content
    %h2.content__head
      プロフィール
    .content__form
      .content__form__icon
        %figure= image_tag "member_default.png", heith:60, width:60, class: "content__form__icon__img"
        %input{type: "text", class: "content__form__icon__input", name: "nickname", placeholder: "例)AYA☆セール中"}
    .content__profile
      %textarea{class: "content__profile__textarea", name: "introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
      %button{type: "submit", class: "content__profile__btn"}
        変更する
  .container__lists
    %nav.container__lists__nav
      %ul.container__lists__nav__list
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            マイページ
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            お知らせ
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            やることリスト
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            いいね！一覧
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            出品する
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            出品した商品 - 出品中
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            出品した商品 - 取引中
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            出品した商品 - 売却済み
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            購入した商品 - 取引中
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            購入した商品 - 過去の取引
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            ニュース一覧
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            評価一覧
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            ガイド
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            お問い合わせ
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
      %h3.container__lists__nav__head
        メルペイ
      %ul.container__lists__nav__list
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            売上・振込申請
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            ポイント
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
      %h3.container__lists__nav__head
        設定
      %ul.container__lists__nav__list
        %li
          = link_to "", class: "container__lists__nav__list__item-active", :target => "_blank" do
            プロフィール
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            発送元・お届け先住所変更
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            支払い情報
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            メール/パスワード
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            本人情報
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            電話番号の確認
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"
        %li
          = link_to "", class: "container__lists__nav__list__item", :target => "_blank" do
            ログアウトの確認
            = fa_icon 'chevron-right', class: "container__lists__nav__list__item__icon"