.top.body
  .top.body__image
    .top.body__image__box
  .top.body__notice
    .top.body__notice__main
      人気のカテゴリー
    .top.body__notice__select
      %a レディース
      %a メンズ
      %a 家電
      %a おもちゃ
  .top.body__new
    .top.body__new__item
      .top.body__new__item__box
        .top.body__new__item__box__category
          新着アイテム
        .top.body__new__item__box__more
          = link_to "もっと見る ＞", root_path
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag(item.images.first.image, size: "184x184")
              %p
                ¥#{item.price}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる
          -# .top.body__new__item__list__show
          -#   .top.body__new__item__list__show__image
          -#     %p ¥990,000
          -#   .top.body__new__item__list__show__name
          -#     ふくとまる

