.top.body
  .top.body__image
    .slick
      .slick__2
        = image_tag "store.jpg", height: '400px', width: '100%'
      .slick__1
        = link_to 'https://apps.apple.com/jp/app/id667861049?l=ja', class: "appstore" do
          = image_tag 'appstore.svg', size: '400x52'
        %b1 スマホでかんたん
        %b2 フリマアプリ
        %b3 エフマはスマホカメラからすぐに出品できる
        %b4 購入時も安心な独自システムのアプリです
        = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "googleplay" do
          = image_tag 'googleplay.svg', size: '170x58'
        = image_tag "top.jpg", height: '400px', width: '100%'
    .top.body__image__box
  .top.body__notice
    .top.body__notice__main
      人気のカテゴリー
    .top.body__notice__select
      = link_to "レディース", "#ladies-items"
      = link_to "メンズ", "#mens-items"
      = link_to "家電", "#electronics-items"
      = link_to "おもちゃ", "#toys-items"
  .top.body__new
    .top.body__new__item
      .top.body__new__item__box#ladies-items
        .top.body__new__item__box__category
          レディース新着アイテム
        .top.body__new__item__box__more
          = link_to "もっと見る ＞", root_path
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag(item.images.first.image, size: "184x184")
              %p
                #{convert_to_jpy(item.price)}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa
      .top.body__new__item__box#mens-items
        .top.body__new__item__box__category
          メンズ新着アイテム
        .top.body__new__item__box__more
          = link_to "もっと見る ＞", root_path
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag(item.images.first.image, size: "184x184")
              %p
                #{convert_to_jpy(item.price)}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa
      .top.body__new__item__box#electronics-items
        .top.body__new__item__box__category
          家電新着アイテム
        .top.body__new__item__box__more
          = link_to "もっと見る ＞", root_path
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag(item.images.first.image, size: "184x184")
              %p
                #{convert_to_jpy(item.price)}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa
      .top.body__new__item__box
        .top.body__new__item__box__category#toys-items
          おもちゃ新着アイテム
        .top.body__new__item__box__more
          = link_to "もっと見る ＞", root_path
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag(item.images.first.image, size: "184x184")
              %p
                #{convert_to_jpy(item.price)}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa