.wrapper
  .top.header
    .top.header__box
      .top.header__box__upper
        .top.header__box__upper__title
          = image_tag "fmarket_logo_red.svg", size: '130x36', alt: "Mercari"
        .top.header__box__upper__form
          .top.header__box__upper__form__field
            = form_for "" do |f|
              = f.text_field :content, class: 'top.header__box__upper__form__field', placeholder: '何かお探しですか？', id: "form__box"
          .top.header__box__upper__form__point
            %button.fas.fa-search-minus
          .top.header__box__upper__form__icon
      .top.header__box__below
        .top.header__box__below__search
          .top.header__box__below__search__category
            %i.fas.fa-bars
            %a カテゴリーから探す
            %i.fas.fa-tags
            %a ブランドから探す
        .top.header__box__below__users
          .top.header__box__below__users__member
            .top.header__box__below__users__member__left
            - if user_signed_in?
              = current_user.nickname
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: ".top.header__box__below__users__member__left"
            - else
              = link_to "新規登録", new_signup_path, class: ".top.header__box__below__users__member__left"
              .top.header__box__below__users__member__right
                = link_to "ログイン", new_user_session_path, class: ".top.header__box__below__users__member__right"

  .top.syuppin
    %p出品
    %i.fas.fa-camera