.wrapper
  .top.header
    .top.header__box
      .top.header__box__upper
        .top.header__box__upper__title
          = link_to image_tag("fmarket_logo_red.svg", size: '130x36', alt: "Mercari"), root_path
        .top.header__box__upper__form
          .top.header__box__upper__form__field
            = form_tag(items_searches_path, local: true, method: :get) do |f|
              = text_field_tag :keyword, "", class: 'top.header__box__upper__form__field', placeholder: '何かお探しですか？', id: "form__box"
              .top.header__box__upper__form__field__point
                = button_tag type: 'submit', name: nil do
                  .fas.fa-search-minus
          .top.header__box__upper__form__icon
      .top.header__box__below
        .top.header__box__below__search
          .top.header__box__below__search__category
            %i.fas.fa-bars
            = link_to "カテゴリーから探す", categories_path
            %i.fas.fa-tags
            = link_to "ブランドから探す", root_path
        .top.header__box__below__users
          .top.header__box__below__users__member
            .top.header__box__below__users__member__left
            - if user_signed_in?
              %i.far.fa-heart
                いいね！一覧
              %i.far.fa-bell
                お知らせ
              %i.fas.fa-check
                やることリスト
              = link_to profile_users_path, class: "mypage" do
                %i.fas.fa-user-circle
                マイページ
            - else
              = link_to "新規登録", new_signup_path, class: "newreg"
              .top.header__box__below__users__member__right
                = link_to "ログイン", new_user_session_path, class: "member_right"
  .top.syuppin
    = link_to new_item_path do
      %p出品
      %i.fas.fa-camera
