.category-wrapper
  .top.header__box__below
    .top.header__box__below__search
      .top.header__box__below__search__category
        .top.header__box__below__search__category__genre
          %i.fas.fa-bars
          %a カテゴリーから探す
          .gnav
            %li
              %ul
                %li.gnav__parent
                  = link_to "レディース"
                  %ul
                    %li
                      .gnav__parent__child
                      = link_to "トップス"
                      %ul
                        %li
                          = link_to "Tシャツ/カットソー（半袖/袖なし)"
                        %li
                          = link_to "Tシャツ/カットソー (七分/長袖)"
                        %li
                          = link_to "シャツ/ブラウス（半袖/袖なし）"
                        %li
                          = link_to "シャツ/ブラウス（七分/長袖）"
                        %li
                          = link_to "ポロシャツ"
                        %li
                          = link_to "キャミソール"
                        %li
                          = link_to "タンクトップ"
                        %li
                          = link_to "ホルターネック"
                        %li
                          = link_to "ニット/セーター"
                        %li
                          = link_to "チュニック"
                        %li
                          = link_to "カーディガン/ボレロ"
                        %li
                          = link_to "アンサンブレ"
                        %li
                          = link_to "ベスト/ジレ"
                        %li
                          = link_to "パーカー"
                      %li
                        = link_to "ジャケット・アウター"
                        %ul
                          %li
                            = link_to "テーラードジャケット"
                          %li
                            = link_to "ノーカラージャケット"
                          %li
                            = link_to "Gジャン/デニムジャケット"
                          %li
                            = link_to "レザージャケット"
                          %li
                            = link_to "ダウンジャケット"
                          %li
                            = link_to "ライダースジャケット"
                          %li
                            = link_to "ミリタリージャケット"
                          %li
                            = link_to "ジャンパー/ブルゾンちえみ"
                          %li
                            = link_to "ポンチョ佐藤"
                          %li
                            = link_to "ロングコート"
                          %li
                            = link_to "トレンチコート"
                          %li
                            = link_to "ダッフルコート"
                          %li
                            = link_to "ピーコート"
                      %li
                        = link_to "パンツ"
                        %ul
                          %li
                            = link_to "デニム/ジーンズ"
                          %li
                            = link_to "ショートパンツ"
                          %li
                            = link_to "カジュアルパンツ"
                          %li
                            = link_to "ハーフパンツ"
                          %li
                            = link_to "チノパン"
                          %li
                            = link_to "ワークパンツ/カーゴパンツ"
                          %li
                            = link_to "クロップドパンツ"
                          %li
                            = link_to "サロペット/オーバーオール"
                          %li
                            = link_to "オールインワン"
                          %li
                            = link_to "サルエルパンツ"
                          %li
                            = link_to "ガウチョパンツ"
                          %li
                            = link_to "その他"
                      %li
                        = link_to "スカート"
                        %ul
                          %li
                            = link_to "ミニスカート"
                          %li
                            = link_to "膝丈スカート"
                          %li
                            = link_to "ロングスカート"
                          %li
                            = link_to "キュロット"
                          %li
                            = link_to "その他"
                      %li
                        = link_to "ワンピース"
                        %ul
                          %li
                            = link_to "ミニワンピース"
                          %li
                            = link_to "膝丈ワンピース"
                          %li
                            = link_to "ロングワンピウース"
                          %li
                            = link_to "その他"
                    %li
                      = link_to "靴"
                      %ul
                        %li
                          = link_to "ブーツ"
                        %li
                          = link_to "ハイヒールモモコ"
                        %li
                          = link_to "サンダル"
                        %li
                          = link_to "スニーカー"
                        %li
                          = link_to "ミュール"
                        %li
                          = link_to "モカシン"
                        %li
                          = link_to "ローファー/革靴"
                        %li
                          = link_to "フラットシューズ/バレエシューズ"
                        %li
                          = link_to "長靴/レインシューズ"
                        %li
                          = link_to "その他"
                    %li
                      = link_to "ルームウェア・パジャマ"
                    %li
                      = link_to "レッグウェア"
                      %ul
                        %li
                          = link_to "ソックス"
                        %li
                          = link_to "スパッツ"
                        %li
                          = link_to "ストッキング/タイツ"
                        %li
                          = link_to "レッグウォーマー"
                        %li
                          = link_to "その他"
                    %li
                      = link_to "帽子"
                    %li
                      = link_to "バッグ"
                    %li
                      = link_to "アクセサリー"
                    %li
                      %a{href:""} ヘアアクセサリー"
                    %li
                      = link_to "小物"
                    %li
                      = link_to "時計"
                %li
                  = link_to "メンズ"
                  %ul
                    %li
                      = link_to "トップス"
                      %ul
                        %li
                          = link_to "Tシャツ/カットソー（半袖/袖なし）"
                        %li
                          = link_to "Tシャツ/カットソー（七分/長袖）"
                        %li
                          = link_to "ポロシャツ"
                        %li
                          = link_to "タンクトップ"
                        %li
                          = link_to "ニット/セーター"
                        %li
                          = link_to "パーカー"
                        %li
                          = link_to "カーディガン"
                        %li
                          = link_to "スウェット"
                        %li
                          = link_to "ジャージ"
                        %li
                          = link_to "ベスト"
                        %li
                          = link_to "その他"
                    %li
                      = link_to "ジャケット・アウター"
                      %ul
                        %li
                          = link_to "テーラードジャケット"
                        %li
                          = link_to "ノーカラージャケット"
                        %li
                          = link_to "Gジャン/デニムジャケット"
                        %li
                          = link_to "レザージャケット"
                        %li
                          = link_to "ダウンジャケット"
                        %li
                          = link_to "ライダースジャケット"
                        %li
                          = link_to "ミリタリージャケット"
                        %li
                          = link_to "ナイロンジャケット"
                        %li
                          = link_to "フライトジャケット"
                        %li
                          = link_to "ステンカラーコート"
                        %li
                          = link_to "トレンチコート"
                        %li
                          = link_to "ダッフルコート"
                        %li
                          = link_to "ピーコート"
                        %li
                          = link_to "ステンカラーコート"
                    %li
                      = link_to "パンツ"
                      %ul
                        %li
                          = link_to "デニム/ジーンズ"
                        %li
                          = link_to "ショートパンツ"
                        %li
                          = link_to "カジュアルパンツ"
                        %li
                          = link_to "ハーフパンツ"
                        %li
                          = link_to "ワークパンツ/カーゴパンツ"
                        %li
                          = link_to "オーバーオール"
                        %li
                          = link_to "その他"
                    %li
                      = link_to "靴"
                    %li
                      = link_to "バッグ"
                    %li
                      = link_to "帽子"
                    %li
                      = link_to "アクセサリー"
                    %li
                      = link_to "小物"
                    %li
                      = link_to "レッグウェア"
                    %li
                      = link_to "アンダーウェア"
                    %li
                      = link_to "その他"
                %li
                  = link_to "ベビー・キッズ"
                %li
                  = link_to "インテリア・住まい・小物"
                %li
                  = link_to "本・音楽・ゲーム"
                %li
                  = link_to "おもちゃ・ホビー・グッズ"
                %li
                  = link_to "コスメ・香水・美容"
                %li
                  = link_to "家電・スマホ・カメラ"
                %li
                  = link_to "スポーツ・レジャー"
                %li
                  = link_to "ハンドメイド"
                %li
                  = link_to "チケット"
                %li
                  = link_to "自動車・オートバイ"
                %li
                  = link_to "その他"
                %li
                  = link_to "カテゴリー一覧"
        .top.header__box__below__search__category__brand
          %i.fas.fa-tags
          %a ブランドから探す
          .gnav
            %li
              %ul
                %li
                  = link_to "シャネル"
                %li
                  = link_to "ナイキ"
                %li
                  = link_to "類 美豚"
                %li
                  = link_to "シュークリーム"
                %li
                  = link_to "アジデス"
                %li
                  = link_to "ブランド一覧"



